.heroimg{
    background-color: #1D1A27;
    height: 300px;
    color: white;
}
.App{
    overflow: hidden;
}
.herocontent{
    text-align: center;
    padding-top: 100px;
}

.mainaboutus{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.aboutussection{
    margin-top: 20px;
    
}
/* .aboutcontent p{
    font-size: 20px;
    padding: 40px;

} */


.aboutheading h1{
    text-align: center;
    margin-bottom: 10px;

}
.mainaboutus1{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.aboutussection1{
    margin-top: 30px;
    
}
.aboutcontent1{
    display: flex;
    margin-top: 20px;
}
.aboutcontent1 p{
    /* font-size: 20px; */
    padding: 10px 40px;

}


.aboutheading1 h1{
    text-align: center;

}


.blogheading h1{
    text-align: center;
    padding: 30px;
    font-family: 'Poppins', sans-serif;


}
.blogmainsection{
    display: flex;
    justify-content: space-between;
    
}
.blog1{
    width: 50%;
}
.blog2{
    width: 50%;
}
.blog3{
    width: 50%;
}
.blog1content{
    margin-top: 10px;
    border:1px solid black;
    /* border-top: none; */
    width: 80%;
    margin-left: 55px;
    /* padding: 20px; */



}
.blog1img img{
    width: 80%;
    margin-left: 55px;
}
.blog1content p{
    /* width: 300px; */
    padding: 20px;
    text-align: left;
    font-family: 'Poppins', sans-serif;

}
.blog1content h3{
    /* text-align: center; */
    text-align: left;
    padding: 20px;
    font-family: 'Poppins', sans-serif;

}


.newsletters img{
    margin-top: 80px;
}
.mainnewssection{
    background: url(/src/images/newsletterbg.png) no-repeat;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    margin-top: 50px;
}
.mainnewssection{
    /* width: 100%; */
    padding: 40px;
    height: auto;
    
}
.mainnewssection h1{
    text-align: left;
    padding-top: 50px;
    font-family: 'Poppins', sans-serif;

}
.mainnewssection p{
    text-align: left;
    padding-top: 20px;
    font-family: 'Poppins', sans-serif;

}
.emailsection{
    padding-top: 20px;
}
.emailinput{
    text-align: left;
    padding: 10px 40px;
    border: 1px solid;
    border-radius: 10px;
    background-color: #D4EFF6;
    font-family: 'Poppins', sans-serif;



}
.emailsection button{
    background-color: #010336;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    margin-left: -29px;
    font-family: 'Poppins', sans-serif;



}

.readmore button{
    padding: 0px 10px 20px 20px;
    border: none;
    background-color: white;
    color: #068880;
    position: relative;

}
.readmore img{
    position: absolute;
    margin-left: 120px;


}
.readmore{
    display: flex;
}




.mainfooter{
    background: url(/src/images/footer\ \(2\).png   ) no-repeat;
    /* background-image:url(./images/Rectangle\ 37.png) ; */
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
.mainfoot1{
    margin-top: 50px;

    display: flex;
    color: white;
    justify-content: space-between;
    padding: 10px 30px;
}
.mainfoot hr{
    width: 500px;
}
.mainfoot1{
    padding-top: 250px;
}
.logo{
    padding: 10px 30px;
}
.footertopic1 p{
    padding-top: 20px;
    font-family: 'Poppins', sans-serif;

}
.footertopic2 p{
    padding-top: 20px;
    font-family: 'Poppins', sans-serif;

}
.footertopic3 p{
    padding-top: 20px;
    font-family: 'Poppins', sans-serif;

}
.bottom{
    padding: 20px;
}
.mainfoot hr{
    color: white;
    width: 800px;
    margin-left: 30%;
    /* margin-left: 180px; */
    /* margin: 50px 180px 0px 180px; */
}
.socialicon{
    margin-left: 50%;
}



@media screen and (max-width:500px){
    .app{
        overflow: hidden;

    }
    .socialmedia{
        display: none;
    }
    .logo{
        margin-left: 20%;
    }
    .mainnav {
        margin-left: 20px;
        margin-bottom: 20px;
    }
    .search{
        display: none;
    }

    .subsectionone{
        display: block;
    }
    .subsectionone img{
        width: 100%;
        height: 30%;
    }
    .mainaboutus{
        display: block !important;
    }
    .aboutimage img{
        width: 380px;
        padding: 0px 25px 20px 25px;
    }
    .abouttcontent{
        padding: 0px 10px;
    }
    .aboutbutton{
        margin-left: 25%;
        margin-bottom: 20px;
        border: none;
        border-radius: 7px;
    }
    .aboutcontent{
        padding: 0px 10px;
    }
    .aboutcontent1{
        display: block !important;
    }
    .aboutcontent1 p{
        padding: 10px;
        width: 370px;
    }
    .aboutimage1 img{
        width: 350px;
        margin-left: 10px;
    }
    

    
    .blogmainsection{
        display: block !important;
    }
    .blog1img img{
        margin-left: 40px !important;
        width: 400px;
        height: 200px;

    }
    .blog1{
        width: 100% !important;
        margin-top: 20px;
    }
    .blog1content{
        margin-left: 40px !important;

    }
    .emailsection button{
        margin-left: 30% !important;
        margin-top: 20px;

    }
    .emailsection input{
        margin-left: 10% !important;
        margin-top: 20px;

    }
    .mainnewssection p{
        text-align: center;
    }
    .mainfoot1{
        display: block !important;
    }
    .footertopic1{
        text-align: center;
    }
    .footertopic2{
        text-align: center;
    }
    .footertopic3{
        text-align: center;
    }
    .mainfoot hr{
        margin-left: 0px !important;
    }
    .bottom{
        margin-left: 0px !important;
    }
    .socialicon img{
        margin-left: 2% !important;
    }
    .app{
        overflow:  hidden !important;
    }

    

}


@media only screen and (max-width: 1024px) {
    .app{
        overflow: hidden;

    }
    .socialmedia{
        display: none;
    }
    .logo{
        margin-left: 2%;
    }
    .mainnav {
        text-align: center;
        margin-bottom: 20px;
        margin-right: 80px;
    }
    .navbar{
        justify-content: space-between;
    }
    .heroimage{
        height: 43vh;

    }
    .search{
        display: none;
    }

    .subsectionone{
        display: block;
    }
    .subsectionone img{
        width: 100%;
        height: 30%;
    }
    .mainaboutus{
        display: block !important;
    }
    .aboutimage img{
        width: 100%;
        padding: 0px 25px 20px 25px;
    }
    .aboutcontent p{
        padding: 0px 20px !important;
    }
    .aboutbutton{
        margin: auto;
        margin-bottom: 20px;
        border: none;
        border-radius: 7px;
    }
    .aboutcontent1{
        display: block;
    }
    .aboutcontent1 img{
        width: 100%;
    }
    .logo img{
        margin-left: 240px;
    }

    .blogmainsection{
        display: block !important;
    }
    .blog1img img{
        margin-left: 80px !important;
        width: 100%;
        height: auto;
        /* height: 200px; */

    }
    .blog1{
        width: 100% !important;
        margin-top: 20px;
    }
    .blog1content{
        margin-left: 80px !important;

    }
    
    .emailsection input{
        margin: auto !important;
        /* margin: 20px; */

    }
    .emailsection{
        margin: auto;
    }
    .mainnewssection p{
        text-align: center;
    }
    .mainfoot1{
        display: block !important;
    }
    .footertopic1{
        text-align: center;
    }
    .footertopic2{
        text-align: center;
    }
    .footertopic3{
        text-align: center;
    }
    .mainfoot hr{
        margin: auto !important;
    }
    .bottom{
        margin-left: 0px !important;
    }
    .socialicon img{
        margin: 0px -50px !important;
    }
    .app{
        overflow:  hidden !important;
    }

}